# Python Essentials

## Data Types

In [2]:
x = True
y = False
type(x)

bool

In Python when doing arithmetic, `True` = 1, `False` = 0

In [3]:
x+y

1

In [4]:
x*y

0

In [5]:
sum([True,True,False,True])

3

In python3, division of integers yields floats (unlike python2 where division of two integers returns only the integer part)

In [6]:
1/2

0.5

To get the integer part (like python2):

In [7]:
1 // 2

0

In [8]:
3 // 2

1

Can assin multiple values at once:

In [9]:
a, b = 10, 20
a + b

30

Complex numbers are also primitive data types

In [10]:
a = complex(1, 2)
b = complex(2, 1)
a * b

5j

### Containers

In [11]:
# list
a = [1,2,3,4]

In [12]:
a

[1, 2, 3, 4]

In [13]:
# tuples
a = (1,2,3)
a

(1, 2, 3)

or you can omit the bracket (what???):

In [14]:
x = 1, 3, 5
x

(1, 3, 5)

In [15]:
type(x)

tuple

In Python, an object is called __immutable__ if, once created, the object cannot be changed

Conversely, an object is __mutable__ if it can still be altered after creation

Python lists are mutable

In [16]:
x = [1,2]

In [17]:
x[0] = 10
x

[10, 2]

But tuples are immutable

In [18]:
x = (1,2)
x[0]=10

TypeError: 'tuple' object does not support item assignment

Tuples (and lists) can be “unpacked” as follows

In [19]:
integers = (10,20,30)
x, y, z = integers
x

10

In [20]:
y

20

In [21]:
z

30

### Slice Notation

To access ultiple elements of a list or tuple, you can use python's slice notation

In [22]:
a = [2, 4, 6, 8, 10]

In [23]:
a[1:]

[4, 6, 8, 10]

In [24]:
a[1:3]

[4, 6]

The general rule is that `a[m:n]` returns $n - m$ elements, starting at `a[m]`

Negative numbers are also permissible

In [25]:
a[-2:] # last two elements of a list

[8, 10]

In [26]:
a[:2] # first two elements of a list

[2, 4]

In [27]:
a[:-2] # all elements except the last 2

[2, 4, 6]

The some notation works on tuples and string

In [28]:
b = (1,3,5,7,9)

In [29]:
b[1:3]

(3, 5)

In [30]:
s = "hello world!"
s[1:3]

'el'

### Sets and Dictionaries

Two other container types we should mention before moving on are sets and dictionaries

Dictionaries are much like lists, except that the items are named instead of numbered

In [31]:
d = {'name': 'joe', 'surname': 'soap', 'age': 33}

In [32]:
type(d)

dict

In [33]:
d['age']

33

The names `'name'` and `'age'` are called the __keys__

The objects that the keys are mapped to (`'Frodo'` and `33`) are called the __values__

Sets are unordered collections without duplicates, and set methods provide the usual set theoretic operations

In [34]:
s1 = {'a','b'}

In [35]:
s2 = {'b','c'}

In [36]:
s1.issubset(s2)

False

In [37]:
s1.intersection(s2)

{'b'}

The `set()` function creates sets from sequences (but removes duplicates)

In [38]:
s3 = set(('foo','bar'))

In [39]:
s3

{'bar', 'foo'}

In [40]:
s4 = set(['abc','def'])

In [41]:
s4

{'abc', 'def'}

In [42]:
s5 = set(('foo','bar','foo'))   ## Should not have two 'foo' in final set

In [43]:
s5

{'bar', 'foo'}

### Input and Output

Writing and reading text files

In [44]:
g = open('newfile.txt', 'w')
g.write('Testing\n')
g.write('Testing again')
g.close()

In [45]:
%pwd

'/Users/ryan/learn/quantecon'

In [46]:
%ls

01_An_introductory_example.ipynb  newfile.txt
02_Python_essentials.ipynb        us_cities.txt
README.md

In [47]:
g = open('newfile.txt','r')
contents = g.read()
print(contents)
g.close()

Testing
Testing again

Obviously the file that is being opened is in the directory returned by `%pwd`. If you need to access a file in a different location, add a path before the filename

## Iterators

Many Python objects are “iterable”, in the sense that they can looped over

To give an example, let’s write the file `us_cities.txt`, which lists US cities and their population, to the present working directory (the extract below actually create the file and adds the content. I gues like an echo on the command line, or something similar)

In [48]:
%%file us_cities.txt
new york: 8244910
los angeles: 3819702
chicago: 2707120
houston: 2145146
philadelphia: 1536471
phoenix: 1469471
san antonio: 1359758
san diego: 1326179
dallas: 1223229

Overwriting us_cities.txt

Suppose that we want to make the information more readable, by capitalizing names and adding commas to mark thousands

In [51]:
data_file = open('us_cities.txt', 'r')
for line in data_file:
    city, population = line.split(':')         # Tuple unpacking
    city = city.title()                        # Capitalize city names
    population = f'{int(population):,}'        # Add commas to numbers
    print(city.ljust(15) + population)
data_file.close()

New York       8,244,910
Los Angeles    3,819,702
Chicago        2,707,120
Houston        2,145,146
Philadelphia   1,536,471
Phoenix        1,469,471
San Antonio    1,359,758
San Diego      1,326,179
Dallas         1,223,229

The `f'....'` is known as an f-string, or a formatting string - google it or see https://cito.github.io/blog/f-strings/

Also just checking to see how split works

In [52]:
x = "hello world how are you".split(' ')

In [53]:
type(x)

list

In [54]:
x

['hello', 'world', 'how', 'are', 'you']

The interesting part of this program for us is line 2, which shows that

1. The file object `data_file` is iterable, in the sense that it can be placed to the right of `in` within a `for` loop
2. Iteration steps through each line in the file

This leads to the clean, convenient syntax shown in our program

### Looping with indices

Python tends to favor looping without explicit indexing

In [55]:
x_values = [1, 2, 3]  # Some iterable x
for x in x_values:
    print(x * x)

1
4
9

is preferred to

In [56]:
for i in range(len(x_values)):
    print(x_values[i] * x_values[i])

1
4
9

Python provides some facilities to simplify looping without indices

One is `zip()`, which is used for stepping through pairs from two sequences

In [57]:
countries = ('Japan', 'Korea', 'China')
cities = ('Tokyo', 'Seoul', 'Beijing')
for country, city in zip(countries, cities):
    print(f'The capital of {country} is {city}')

The capital of Japan is Tokyo
The capital of Korea is Seoul
The capital of China is Beijing

The `zip()` function is also useful for creating dictionaries

In [62]:
names = ['Tom', 'John']
marks = ['E', 'F']
dict(zip(names, marks))

{'John': 'F', 'Tom': 'E'}

If we actually need the index from a list, one option is to use enumerate()

In [63]:
letter_list = ['a', 'b', 'c']
for index, letter in enumerate(letter_list):
    print(f'letter_list[{index}] is {letter}')

letter_list[0] is a
letter_list[1] is b
letter_list[2] is c

### Comparisons

Apart fromthe usual < ,> etc, we can chain inequalities

In [64]:
1 < 2 < 3

True

In [65]:
1 < 2 > 4

False

In [66]:
1 < 4 > 2

True

When testing conditions, we can use any valid Python expression

In [67]:
x = 'yes' if 42 else 'no'

In [68]:
y = 'yes' if [] else 'no'

In [69]:
x

'yes'

In [70]:
y

'no'

The rule is:

* Expressions that evaluate to zero, empty sequences or containers (strings, lists, etc.) and `None` are all equivalent to False

  * for example, `[]` and `()` are equivalent to `False` in an `if` clause

* All other values are equivalent to True

  * for example, `42` is equivalent to `True` in an `if` clause

### Combining expressions